
.DS_Store
.gitattributes
.ipynb_checkpoints/__stopwatch-checkpoint.py
*.pyc
_summary.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/_summary-checkpoint.ipynb
.ipynb_checkpoints/__README-checkpoint.ipynb
__README.ipynb
